#lightning
#pandas
#te2rules
#optuna
seaborn
# gpytorch
ipykernel
#multiviewae
#coral-pytorch
#torchmetrics
#optuna-integration[pytorch_lightning]
umap-learn
treeffuser
statsmodels
properscoring
#abess
imodels
#conformal-tights
mapie